<div class="booyah-layout col-10 offset-1">
  <div class="intro">
    <%= image_tag 'me.jpg', class: "me" %>
    <h1 class="name">Robert Adame</h1>
    <h2 class="title">Full Stack Web Developer</h2>
    <p class="about col-9 offset-2">Robert Adame is a growing Full Stack Web Developer. Previously he has made a successful career of working for industry leading companies such as Dexcom and supporting their end consumers. This includes direct consumer interactions and also paving the way for new employees by supervising teams, running training classes and developing world class training materials.</p>
  </div>
  <br />
  <br />

  <div class="guidance">
    <p class="suggest col-9 offset-2">Please feel free to check out my current <%= link_to 'project', projects_path %> list and see the apps in their live environment. I also have their github links posted as well. This Web Application is also utilizing some of those features I have learned along the way.</p>

    <br />
    <br />

    <p class="business col-9 offset-2">If you have a business inquiry reach out to me at my email <a href="mailto:radamejr@gmail.com" class="contact-link">
    radamejr@gmail.com
  </a></p>


  </div>
  <br />
  <br />


</div>