html, body {
  height: 100%;
  margin: 0;
}
.wrapper {
  min-height: 100%;

  /* Equal to height of footer */
  /* But also accounting for potential margin-bottom of last child */
  margin-bottom: -75px;
}
.footer{ 
  height: 100px;
  box-shadow: 0px 1px 3px #2a2a2a;
  background: image_url('dark-honeycomb.png');
  color: white;
}

.push {
  height: 50px;
  
  }