@import "bootstrap";

.clear {
  clear: both;
}

body {
  background: image_url('black_linen_v2.png');
}
.content {
  min-height: 100%
}

.navbar {
  font-family: "Helvetica Neue", Helvetica;
  font-weight: 400;
  box-shadow: 0px 1px 3px #2a2a2a;
  background: image_url('dark-honeycomb.png');
}

.booyah-box {
  -moz-box-shadow: 1px 1px 2px 0 #d0d0d0;
  -webkit-box-shadow: 2px 3px 0px 0px #d0d0d0;;
  
  background: image_url('debut_dark.png');
  border: 1px solid #ccc;
  
  margin-bottom: 15px;
  padding: 20px;
  color: white;
}

ul.project-list {
  columns: 2;
  -webkit-columns: 2;
  -moz-columns: 2;
  column-width: auto;
}

li {
  display: inline-block;
}

.content {
  min-height: calc(100vh - 70px);
  padding: 40px 40px 0 40px;
}

li#first {
  float: left;
}

li#second {
  float: right;
}

.booyah-layout {
  background: none;
  margin-bottom: 15px;
  padding: 20px;
  color: white;
}

.me{
  height: 150px;
  border-radius: 100%;
  border-style: solid;
  border-color: black;
  margin-top: 40px;

}

.intro,
.icons {
  text-align: center;
}

.name,
.title {
  color: #2c5596;
  border: black;
}

p {
  font-size: 18px;
}