@import "bootstrap";

.clear {
  clear: both;
}

.content {
  min-height: 100%
}

.navbar {
  font-family: "Helvetica Neue", Helvetica;
  font-weight: 400;
  box-shadow: 0px 1px 3px #2a2a2a;
  background: image_url('dark-honeycomb.png');
}

.booyah-box {
  -moz-box-shadow: 1px 1px 2px 0 #d0d0d0;
  -webkit-box-shadow: 1px 1px 2px 0 #d0d0d0;
  box-shadow: 1px 1px 2px 0 #d0d0d0;
  background: #fff;
  border: 1px solid #ccc;
  border-color: #e4e4e4 #bebebd #bebebd #e4e4e4;
  margin-bottom: 15px;
  padding: 20px;
}

ul.project-list {
  columns: 2;
  -webkit-columns: 2;
  -moz-columns: 2;
  column-width: auto;
}

li {
  display: inline-block;
}

.content {
  min-height: calc(100vh - 70px);
  padding: 40px 40px 0 40px;
}
